
  <div class="topBar">
    <div>
      <img class="logo-image flex-none" src="../assets/images/Logo.JPG">
  </div>
<div class="box logotext">
  <span>Acme Inc</span>
</div>
<div>
  <img class="profile-photo" src="../assets/images/profile_photo.jpg">
</div>
</div>


<div class="horizontalBar">
  <div class="imgContent">
  <img src="../assets/images/home_logo.JPG">
</div>
 
  <div class="imgContent">
    <img src="../assets/images/tick mark.JPG">  <p class="imgText">Home</p>
  </div>
    <p class="imgText">Home</p>
</div>

